In [ ]:
import pandas as pd
import numpy as np
import openpyxl

In [ ]:
file_path = "https://raw.githubusercontent.com/ninad555/Excel-Automation-with-Python/main/Dummy_data.xlsx"

loaded_data = pd.read_excel(file_path)
loaded_data.head(20)
loaded_data.to_excel("Dummy_data.xlsx")

In [ ]:
from openpyxl import load_workbook

path = "/content/Dummy_data.xlsx"
wb = load_workbook(path)

ws = wb['Sheet1']

# Read the cell values into a list of lists
data_rows = []
for row in ws['A10':'O110']:
    data_cols = []
    #print(row)
    for cell in row:
        #print(cell.value)
        data_cols.append(cell.value)
    data_rows.append(data_cols)
#print(data_rows[0][1::])

# Transform into dataframe
import pandas as pd
df = pd.DataFrame(data_rows[1::], columns = data_rows[0])
print(df.head())
#df.to_csv("Imported_data.csv")

    8  Id  col1   col2  col3  col4  col5  col6  col7  col8  col9  col10  \
0   9   1      0     0     3     4     5     6     0     8     9     10
1  10   2      1     2     0     0     0     0     7     0     0      0
2  11   3      0     0     3     4     5     6     0     8     9     10
3  12   4      1     2     0     0     0     0     7     0     0      0
4  13   5      0     0     3     4     5     6     0     8     9     10

   col11  col12  col13
0     11     12     13
1      0      0      0
2     11     12     13
3      0      0      0
4     11     12     13

In [ ]:
df.drop(df.columns[0], axis=1, inplace = True)

In [ ]:
df

,Id,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13
0,1,0,0,3,4,5,6,0,8,9,10,11,12,13
1,2,1,2,0,0,0,0,7,0,0,0,0,0,0
2,3,0,0,3,4,5,6,0,8,9,10,11,12,13
3,4,1,2,0,0,0,0,7,0,0,0,0,0,0
4,5,0,0,3,4,5,6,0,8,9,10,11,12,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1,2,0,0,0,0,7,0,0,0,0,0,0
96,97,0,0,3,4,5,6,0,8,9,10,11,12,13
97,98,1,2,0,0,0,0,7,0,0,0,0,0,0
98,99,0,0,3,4,5,6,0,8,9,10,11,12,13
99,100,1,2,0,0,0,0,7,0,0,0,0,0,0

In [ ]:
print(ws.max_column)
print(ws.max_row)

16
110

In [ ]:
c = str(ws.cell(10,2)).split(".")
print(c[-1].replace(">"," "))

B10

In [ ]:
print(ws.cell(10,2).column_letter + str(ws.cell(10,2).row))
#print(ws.cell(10,2).row)

B10

# New Section