In [80]:
import pandas as pd
import numpy as np
import xlsxwriter

import openpyxl
from openpyxl import load_workbook

In [87]:
path = "dummydata-2021.xlsx"
wb = load_workbook(path)

ws = wb['YT']

In [88]:
ws.max_row

3390

In [13]:
ws.max_column

20

In [14]:
print(ws.cell(ws.max_row,ws.max_column).column_letter + str(ws.cell(ws.max_row,ws.max_column).row))

T3390

In [43]:
for row in ws['A1':'T3390']:
#     data_cols = []
#     #print(row)
    for cell in row:
        if cell.data_type == "f":
            print(cell.value ,cell.column_letter )

=SUM(I2:M2) T
=SUM(I3:M3) T
=SUM(I4:M4) T
=SUM(I5:M5) T
=SUM(I6:M6) T
=SUM(I7:M7) T
=SUM(I8:M8) T
=SUM(I9:M9) T
=SUM(I10:M10) T
=SUM(I11:M11) T
=SUM(I12:M12) T
=SUM(I13:M13) T
=SUM(I14:M14) T
=SUM(I15:M15) T
=SUM(I16:M16) T
=SUM(I17:M17) T
=SUM(I18:M18) T
=SUM(I19:M19) T
=SUM(I20:M20) T
=SUM(I21:M21) T
=SUM(I22:M22) T
=SUM(I23:M23) T
=SUM(I24:M24) T
=SUM(I25:M25) T
=SUM(I26:M26) T
=SUM(I27:M27) T

In [53]:
from openpyxl.formula.translate import Translator
ws['T33'] = "=SUM(I33:M33)"

In [30]:
 from openpyxl.formula.translate import Translator

In [76]:
for row in ws['T1':'T3390']:
     for cell in row:
            if cell.data_type == "f": 
                print("{}{} : {}".format(cell.column_letter,cell.row, cell.value))

T2 : =SUM(I2:M2)
T3 : =SUM(I3:M3)
T4 : =SUM(I4:M4)
T5 : =SUM(I5:M5)
T6 : =SUM(I6:M6)
T7 : =SUM(I7:M7)
T8 : =SUM(I8:M8)
T9 : =SUM(I9:M9)
T10 : =SUM(I10:M10)
T11 : =SUM(I11:M11)
T12 : =SUM(I12:M12)
T13 : =SUM(I13:M13)
T14 : =SUM(I14:M14)
T15 : =SUM(I15:M15)
T16 : =SUM(I16:M16)
T17 : =SUM(I17:M17)
T18 : =SUM(I18:M18)
T19 : =SUM(I19:M19)
T20 : =SUM(I20:M20)
T21 : =SUM(I21:M21)
T22 : =SUM(I22:M22)
T23 : =SUM(I23:M23)
T24 : =SUM(I24:M24)
T25 : =SUM(I25:M25)
T26 : =SUM(I26:M26)
T27 : =SUM(I27:M27)
T33 : =SUM(I33:M33)

In [98]:
ws["T34"] = "=SUM(I34:M34)"
wb.save("dummydata-2021.xlsx")

In [105]:
for row in ws['T1':'T3390']:
     for cell in row:
                ws["{}{}".format(cell.column_letter,cell.row)] = "=SUM(I{}:M{})".format(cell.row, cell.row)

wb.save("dummydata-2021.xlsx")

In [109]:
ff = ["T", "T","U","V"]
unique_list = []
for x in ff:
    if x not in unique_list:
        unique_list.append(x)
print(unique_list)

['T', 'U', 'V']